
#page-wrap {
    text-align: center;
    overflow: auto;
    position: relative;
    z-index: 8;
        width: 100%;
        height: 70px;
}

.d {
    position: fixed;
    z-index: 7;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    align-items: center;
        width: 100%;
        height: 70px;
    box-sizing: border-box;
    padding-right: 30px;
    padding-left: 30px;
    background: rgb(244, 244, 244); /* root */
    box-shadow: rgba(176, 176, 176, 0.3) 0px 2px 15px 0px;
}

s. {
    width: 30px;
    height: auto;
    border: solid 1px black;
}

.bm-item {
    display: inline-block;
    text-decoration: none;
    color: #d1d1d1;
    transition: color 0.2s;
}

.bm-item:hover {
    color: white;
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 20px;
    right: 36px;
    top: 25px;

}

.bm-burger-bars {
    background: #373a47;
}

.bm-cross-button {
    height: 24px;
    width: 24px;

}

.bm-cross {
    background: #bdc3c7;
}

.bm-menu {
    background: #112734;
    padding: 40px;
    font-size: 1.15em;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-item-list {
    color: #b8b7ad;
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}