RewriteEngine On
RewriteRule ^test\.html$ - [L]

<Files main.8506ab1d.js>
  # Serve the corresponding source map file
  Header set X-SourceMap "main.8506ab1d.js.map"
</Files>

# Cache images for one year
<FilesMatch "\.(jpg|jpeg|png|gif|svg)$">
    Header set Cache-Control "max-age=31536000, public"
</FilesMatch>

# Cache CSS and JS for one week
<FilesMatch "\.(css|js)$">
    Header set Cache-Control "max-age=604800, public"
</FilesMatch>

# Cache woff2 for one year
<FilesMatch "\.(woff2)$">
    Header set Cache-Control "max-age=31536000, public"
</FilesMatch>