html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
    background: rgb(244, 244, 244);
}

body {
    box-sizing: border-box;
    font-size: 1.6rem; /* 1.6rem = 16px */
    overflow-x: hidden;

    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

* { padding: 0; margin: 0; }
a { text-decoration: none; }
button { border: none; }

ul {
    list-style: none;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
} li { padding-bottom: 10px; }
  li:last-child { padding-bottom: 0; }

  .cerr {
      display: none;
  }